<html>
<head>
	<title>Results</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>Question</th>
			<th>Vote value</th>
			<th>Tags</th>
			<th>Vote date</th>
			<th>Vote time</th>
			<th>Comment</th>
		</tr>
		{% for vote in votes %}
		<tr>
			<td>{{ vote.questionTitle }}</td>
			<td>{{ vote.value }}</td>
			<td>{{ vote.tags.join(', ') }}</td>
			<td>{{ vote.created_at.toDateString() }}</td>
			<td>{{ vote.created_at.toTimeString() }}</td>
			<td>{{ vote.comment }}</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>